<a href="https://colab.research.google.com/github/jonatanriq/estudos_gerais/blob/main/ajeitando_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [137]:
import pandas as pd
dados = pd.read_csv('/content/ctd_final.csv')

# cortando a primeira e última linha do dado
dados = dados[1:1499]

# colocando os nomes das colunas em minúsculo
dados = dados[dados.columns[0:11]].set_axis([nomes.lower() for nomes in dados.columns[0:11]], axis=1, inplace=False) 

# transformando para numérico
dados[dados.columns[1:11]] = dados[dados.columns[1:11]].apply(pd.to_numeric, errors='coerce', axis=1) 

# arredondando os valores
dados['ctdsal'] = [round(x,2) for x in dados.ctdsal]
dados['ctdtmp'] = [round(x,2) for x in dados.ctdtmp]

dados

          expocode  latitude  longitude   depth  ...  oxygen  silcat  nitrat  phspht
1     29HE20100405   -3.6992   -34.2917  3902.0  ...   226.7   20.35   22.55    1.40
2     29HE20100405   -3.6992   -34.2917  3902.0  ...   212.3   21.86   24.04    1.49
3     29HE20100405   -3.6992   -34.2917  3902.0  ...   191.4   25.77   27.34    1.73
4     29HE20100405   -3.6992   -34.2917  3902.0  ...   180.4   27.97   29.16    1.87
5     29HE20100405   -3.6992   -34.2917  3902.0  ...   171.6   30.65   31.12    2.01
...            ...       ...        ...     ...  ...     ...     ...     ...     ...
1494  29HE20100405    8.3318   -14.5005  1606.0  ...    49.2   17.55   37.32    2.37
1495  29HE20100405    8.3318   -14.5005  1606.0  ...    49.4   14.01   33.59    2.11
1496  29HE20100405    8.3318   -14.5005  1606.0  ...    78.3    9.80   25.84    1.69
1497  29HE20100405    8.3318   -14.5005  1606.0  ...    72.0    8.34   23.41    1.58
1498  29HE20100405    8.3318   -14.5005  1606.0  ...   199.3    4.19    0.66    0.10

[1498 rows x 11 columns]

In [133]:
estacao = pd.read_csv('/content/estacao_rj.csv')

# colocando os nomes para minuscula
estacao = estacao[estacao.columns[:]].set_axis([nomes.lower() for nomes in estacao.columns[:]], axis=1, inplace=False)

# setando um index datetime
estacao.index = pd.to_datetime((estacao['ano'].astype(int).astype(str)+'/'+estacao['mes'].astype(int).astype(str)+'/'+estacao['dia'].astype(int).astype(str)))
estacao.drop(['ano','mes','dia'], axis=1, inplace=True)

estacao

            estacao  tempbulboseco  ...  precipitacao  choveu
1961-02-01  83692.0           21.7  ...          30.6     Sim
1961-03-01  83692.0           23.2  ...          34.2     Sim
1961-04-01  83692.0           21.6  ...          11.4     Sim
1961-05-01  83692.0           21.8  ...          40.2     Sim
1961-06-01  83692.0           23.4  ...          25.0     Sim
...             ...            ...  ...           ...     ...
2019-11-26  83692.0           16.2  ...           0.0     Não
2019-11-27  83692.0           20.1  ...           0.0     Não
2019-11-28  83692.0           21.4  ...           0.0     Não
2019-11-29  83692.0           17.5  ...          34.1     Sim
2019-11-30  83692.0           19.4  ...           1.6     Sim

[18762 rows x 11 columns]

In [164]:
boia = pd.read_csv('/content/SIMCOSTA_RJ-4_OCEAN_2017-08-28_2021-11-12.csv', skiprows=21)

# nomes das colunas em minúsculo
boia = boia[boia.columns[:]].set_axis([nomes.lower() for nomes in boia.columns[:]], axis=1, inplace=False)

# colocando índice datetime
boia.index = pd.to_datetime(boia['year'].astype(str)+'-'+boia['month'].astype(str)+'-'+boia['day'].astype(str)+'-'+boia['hour'].astype(str)+':'+boia['minute'].astype(str))
boia.drop([nomes for nomes in boia.columns[0:7]], axis=1, inplace=True)

# removendo colunas que tenham mais de 50% de valores faltantes
for nome in boia.columns[:]:
  if boia[nome].isnull().sum()/len(boia[nome]) > 0.5: 
    boia.drop(nome, axis=1,inplace=True)

boia

                       tp  avg_wv_dir  ...  avg_cel1_dir_n  m_decl
2017-08-28 13:25:00   8.7       162.0  ...          144.06  -22.74
2017-08-28 13:55:00   6.5       163.0  ...          128.55  -22.74
2017-08-28 14:55:00   6.1       161.0  ...           15.23  -22.74
2017-08-28 15:25:00  10.0       161.0  ...           38.57  -22.74
2017-08-28 15:55:00   9.1       164.0  ...           53.90  -22.74
...                   ...         ...  ...             ...     ...
2021-11-12 17:21:00   9.5       188.0  ...          355.85  -22.94
2021-11-12 18:21:00   9.5       189.0  ...          278.43  -22.94
2021-11-12 19:21:00  11.1       196.0  ...          289.11  -22.94
2021-11-12 20:21:00   9.5       194.0  ...           53.84  -22.94
2021-11-12 21:21:00   9.1       183.0  ...          308.42  -22.94

[54459 rows x 7 columns]